* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #3E0703, #660B05);
}

.main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

#logo{
    margin: 20px;
    width: 100px;
}

.title{
    font-size: 40px;
    color: #520c07;
    background-color: transparent;
    padding: 20px 0px;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#to-do-div {
    padding: 40px 35px;
    height: auto;
    width: 50%;
    border-radius: 12px;

    max-height: 80vh; 
    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: linear-gradient(
    180deg,       /* direção vertical */
    #d1b970 0%,   /* cor topo */
    #c4b075 50%,  /* cor clara no meio */
    #ccba82 100%  /* cor base */
);
}

#to-do-div::-webkit-scrollbar {
  width: 12px;
}

#to-do-div::-webkit-scrollbar-track {
  background: #f3de9d; 
  border-radius: 4px;
}

#to-do-div::-webkit-scrollbar-thumb {
  background: #660B05; 
  border-radius: 4px;
  border: 1px solid #f3de9d;
}

#to-do-div::-webkit-scrollbar-thumb:hover {
  background: #4a0301; 
}

#input-section{
    margin: 5% 2%;
    display: flex;
    width: 100%;
    gap: 3%;
    background-color: transparent;
}

#task-input{
    padding: 10px 15px;
    flex: 1;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    background: #ecddb085;
    color: #333;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

#task-add{
    border-radius: 10px;
    background-color: #520c07;
    width: 20%;
    padding: 10px 15px;
    transition: transform 0.2s ease, background-color 0.3s ease;
    
    color: #ebd48f;
    font-weight: 300;
    font-family: "Special Gothic Expanded One", sans-serif;
}

#task-add:hover{
    background-color: #792f29;
    color: #f3de9d;
    transform: scale(0.95);
}

#task-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ecddb085;
    padding: 15px;
    margin: 10px 0;
    border-radius: 6px;
}

.task-p {
    margin: 0px 5px;
    font-family: "Special Gothic Expanded One", sans-serif;
    color: #722720f5;
}

.task-del {
    align-self: flex-start;
    border: none;
    padding: 6px 10px;
    margin-left: 5px;
    cursor: pointer;

    background: #75160b;
    color: rgb(216, 212, 157);
    border-radius: 4px;
    transition: transform 0.2s ease;
}

.task-del:hover {
    transform: scale(0.9);   
}
